*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* la otra fuente
    font-family: 'Raleway', sans-serif;
    */
    font-size: 24px;
}
:root{
    /*primary*/
     --primary-Very-Dark-Blue: hsl(243, 87%, 12%);
     --Desaturated-Blue:hsl(238, 22%, 44%);
     /* Accent */
     --Bright--Blue:hsl(224, 93%, 58%);
     --Moderate--Cyan: hsl(170, 45%, 43%);
     /* Neutral */
     --Light-Grayish-Blue: hsl(240, 75%, 98%);
     --Light-Gray: hsl(0, 0%, 75%);
}
.logo{
    margin: 10px;
    width: 120px;
    height: auto;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-main{
    display: flex;
}
.list-ul{
    display: flex;
}
.img-header{
    object-fit: contain;
    width: 100%;
    height: 220px;
}

.text-descripcion-img{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: var(--primary-Very-Dark-Blue);
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    margin-bottom:20px;
}
.email-form{
    padding: 10px;
    width: 250px;
}
.email-form:hover{
    

}
.text-form{
    font-size: 18px;
    text-align: center;
}

.container-form{
    display: flex;
    flex-direction: column;
}

.btn-get{
    margin-top: 20px;
    width: 250px;
    height: 30px;
    color:white;
    padding: 5px;
    background-color: var( --Bright--Blue);
    border:none;
}
.container-section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    margin-bottom:20px;
}
.container-descripcion-productive h2{
    font-size: 20px;
    margin: 30px 22px;
    text-align: center;

}
.img-abog{
    width: 200px;
   
    height: auto;
    object-fit: contain;
    margin-top:150px; 
}
.container-descripcion-productive p {
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin: 10px;
}

.container-button-float{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:2px solid var(--Light-Gray);
}
.container-button-float h3{
    font-size:15px;
    color: var( --Moderate--Cyan);
    font-weight: normal;
}
.container-button-float span{
    margin-left:6px;
}
.logo-flech img{
    width: 30px;
    height: auto;
    margin-top: 10px;
}

.card-contain-main{
    display: flex;
    justify-content: center;
}
.tarjeta-testimonial{
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    /* sombras */
    box-shadow: 2px 8px 10px rgb(2, 0.1, .1);
    width: 250px;
    height:400px;
}
.text-testimono{
    text-align: center;
    font-size: 18px;
    margin: 10px;
}
.comillas{
    margin-left: 30px;
}
.avatar-testimonio{
    display: flex;
    margin-left: 20px;
}
.avatar-testimonio h3{
    font-size: 14px;
}
.text-colum p{
    font-size: 18px;
}
.avatar-img{
    border-radius: 50%;
    width:40px;
    height: 40px;
}
.text-colum{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

/* container- seccion blue */

.container-blue--section{
    margin-top: 120px;
    width: 100%;
    height:auto;
    background-color: var(--Desaturated-Blue);

}

.title-section-blue{
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 20px 0px;
}

.parrafo-section-blue{
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}


/* footer */
.section-mored-footer{
    width: 100%;
    height: auto;
    background-color: rgb(26, 40, 116);
    margin-top: -20px;
    
}

.img-footer-logo{
    margin-top: 50px;
    margin-left: 20px;
    width: 140px;
    height: 50px;
}

.container-icons{
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-left: 20px;
}

.container-icons img{
    width: 30px;
    height: auto;
    margin-top: 20px;
}

.container-icons p{
    color: white;
    font-size: 18px;
}

.container-about{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
}

.list-primary{
    color:white;
    font-size:18px;
    margin-top: 30px;
}

.list-primary li{
    margin-top: 10px;
}

.social-media{
   display: flex;
   justify-content: center;
}
.container-red{
    border: 2px solid var(--Light-Gray);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
}
.container-red img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 3px;
}

/* acomodar el nombre de clasess*/
.r{
    display: flex;
}

.r2{
    display: flex;
}

#phone , #examples{
    margin-top: 20px;
    margin-left: 20px;
}

@media screen and (min-width: 768px){

}
    
@media screen and (max-width: 320px){
    .nav-main{
        display: flex;
        justify-content:space-between;
        margin-top:-30px;
    }
    .text-descripcion-img{
        font-size: 18px;    
    }  
}
    
